

.mention .mention-favicon{
float: left;
}

.mention .mention-body{
margin: 0px 0px 10px 20px;
}

.mention .mention-body h3{
font-size: 16px;
color: #0B66B9;
margin: 0px 0px 5px 0px;
}

.mention .mention-body a{
font-weight: bold;
color: #0B66B9;
text-decoration: none;
}

.mention .mention-body a:hover{
text-decoration: underline;
}

.mention .mention-description, 
.mention .mention-footer{
line-height: 14px;
}

.mention .mention-footer{
margin-top: 5px;
}