<div class="portlet">          
  
  <div class="portlet-header">
    <h4>Create new User</h4>
  </div> <!-- .portlet-header -->  
    
  <div class="portlet-content">        
    <div id="ontop-form" class="portlet-tab-content">
      <% form_for @user, :html => {:class => 'form label-top'} do |f| %>
        <%= f.error_messages %>
        
        <%= render :partial => "form", :object => f %>
        
        <div class="field">
          <span class="label">&nbsp;</span>
          <div><button><span><%= f.submit 'New User' %></span></button></div>
        </div> <!-- .field -->

      <% end %>
    </div> <!-- #ontop-form -->
  </div> <!-- .portlet-content -->  
</div> <!-- .portlet -->