<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Contract Plan:</b>
  <%=h @user.contract_plan %>
</p>


<%= link_to 'Edit', edit_user_path( @user ) %>