<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Azure Admin</title>
	
	<link rel="stylesheet" href="./css/custom.css" type="text/css" media="screen" title="custom" charset="utf-8" />	
	
	<link rel="stylesheet" href="./themes/blue/css/blue.css" type="text/css" media="screen" title="blue" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/red/css/red.css" type="text/css" media="screen" title="red" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/orange/css/orange.css" type="text/css" media="screen" title="orange" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/green/css/green.css" type="text/css" media="screen" title="green" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/black/css/black.css" type="text/css" media="screen" title="black" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/purple/css/purple.css" type="text/css" media="screen" title="purple" charset="utf-8" class="styleswitch" />
	
	
	<link rel="stylesheet" href="./css/jquery.lightbox-0.5.css" type="text/css" media="screen" title="lightbox" charset="utf-8" />
	
	<!--[if IE 8]>	
	<link rel="stylesheet" href="./css/ie8.css" type="text/css" media="screen" title="ie8" charset="utf-8" />
	<![endif]-->
	
	<!--[if IE 7]>	
	<link rel="stylesheet" href="./css/ie7.css" type="text/css" media="screen" title="ie8" charset="utf-8" />
	<![endif]-->

</head>

<body class="layout-fixed">
	
<div id="page">

	<!-- Start #header -->
	<div id="header">
		
		<div class="pad">
			
			<h1 id="title"><a href=""><img src="images/azure-title.png" alt="Azure Admin" /></a></h1>
			
			<div id="info">
				
				<div id="infoText">
					Welcome back <a href="javascript:;">John Roberts</a> <br />
					Today is November 15, 2009 17:24 <a href="javascript:;">View Website</a> | <a href="javascript:;">View Latest Activity</a>
				</div> <!-- #infoText -->
				
				<div class="underlay"></div>
			</div>
			
		</div> <!-- .pad -->
		
	</div> <!-- #header -->
	
	<!-- Start #nav -->
	<div id="nav" class="clearfix">
		
		<ul>
			<li>
				<a href=""  class="current">Dashboard</a>		
			</li>
			
			<li class="">
				<a href="javascript:;">Mega Drop Menu</a>
											
				<div class="sub_nav">	
					<div class="col">		
						
						<h3>Help Links</h3>
							
						<ul>
							<li><a href="http://google.com" target="_blank">Google</a></li>
							<li><a href="http://yahoo.com" target="_blank">Yahoo</a></li>
							<li><a href="http://bing.com" target="_blank">Bing</a></li>
							<li><a href="javascript:;">Section #4</a></li>
						</ul>					
					</div><!-- .col -->
					
					<div class="col">
						<h3>Help Links</h3>
							
						<ul>
							<li><a href="javascript:;">Section #1</a></li>
							<li><a href="javascript:;">Section #2</a></li>
							<li><a href="javascript:;">Section #3</a></li>
							<li><a href="javascript:;">Section #4</a></li>
						</ul>	
					</div><!-- .col -->
					
					<div class="col">
						<h3>Help Text</h3>
							
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis .</p>
					</div><!-- .col -->
				</div><!-- .sub_nav -->					
			</li>
			
			<li>
				<a href="javascript:;">Addresses</a>
							
				<div class="sub_nav">	
					<div class="col">		
						
						<h3>Help Links</h3>
							
						<ul>
							<li><a href="javascript:;">Section #1</a></li>
							<li><a href="javascript:;">Section #2</a></li>
							<li><a href="javascript:;">Section #3</a></li>
							<li><a href="javascript:;">Section #4</a></li>
						</ul>					
					</div><!-- .col -->
					
					<div class="col">
						<h3>Help Links</h3>
							
						<ul>
							<li><a href="javascript:;">Section #1</a></li>
							<li><a href="javascript:;">Section #2</a></li>
							<li><a href="javascript:;">Section #3</a></li>
							<li><a href="javascript:;">Section #4</a></li>
						</ul>	
					</div><!-- .col -->
					
				</div><!-- .sub_nav -->							
			</li>
			
			<li>
				<a href="javascript:;">Orders</a>
											
				<div class="sub_nav">	
					<div class="col">		
						
						<h3>Help Links</h3>
							
						<ul>
							<li><a href="javascript:;">Section #1</a></li>
							<li><a href="javascript:;">Section #2</a></li>
							<li><a href="javascript:;">Section #3</a></li>
							<li><a href="javascript:;">Section #4</a></li>
						</ul>					
					</div><!-- .col -->
				</div><!-- .sub_nav -->								
			</li>


		<li style="float: right"><a href="javascript:;">Logout</a></li>

<li style="float: right;">
				<a href="javascript:;">My Account</a>
				
				<div class="sub_nav sub_nav_right">	

					
					<div class="col">
						
						<ul>
							<li><a href="javascript:;">Account Link #1</a></li>
							<li><a href="javascript:;">Account Link #2</a></li>
							<li><a href="javascript:;">Account Link #3</a></li>
							<li><a href="javascript:;">Account Link #4</a></li>
				
						</ul>	
					</div><!-- .col -->
				</div><!-- .sub_nav -->

			</li>
		</ul>
		
	</div> <!-- #nav -->
	
	<!-- Start #body -->
	<div id="body">
		
		<h1 id="pageTitle">Dashboard</h1>
		
		<!-- Start #main -->
		<div id="main">		
	
			<div class="portlet">	
				<div class="portlet-header">
					<h4>Chart</h4>	
				</div> <!-- .portlet-header -->	
				
				<div class="portlet-content">				
					<div id="placeholder" style="width:100%; height:300px;"></div>
				</div> <!-- .portlet-content -->	
			</div> <!-- .portlet -->	
			
			
			<div class="portlet portlet-closable">	
				<div class="portlet-header">
					<h4>Tabs</h4>
					
					<ul class="portlet-tab-nav">
						<li class="portlet-tab-nav-active"><a href="#tab1">Tab 1</a></li>
						<li class=""><a href="#tab2">Tab 2</a></li>
						<li><a href="#tab3">Tab 3</a></li>
					</ul>
					
					
				</div> <!-- .portlet-header -->	
				
				<div class="portlet-content">				
					
					<div id="tab1" class="portlet-tab-content">
						<h2>Tab #1</h2>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						
						<h3>Unordered List</h3>
						<ul>
							<li>Duis ornare elit at nisl rutrum vel bibendum tellus volutpat.</li>
							<li>Cras eget leo neque, sed tempor nulla.</li>
							<li>Ut vitae sapien vel mi porta cursus et ut lorem.</li>
							<li>Quisque accumsan orci euismod leo fermentum vulputate.</li>
							<li>Praesent consectetur consectetur nisi, vel lacinia tellus sollicitudin sed.</li>
							<li>Nullam porta luctus odio, id ornare lorem ultricies vitae.</li>
						</ul>
						
						
						<h3>Ordered List</h3>
						<ol>
							<li>Duis ornare elit at nisl rutrum vel bibendum tellus volutpat.</li>
							<li>Cras eget leo neque, sed tempor nulla.</li>
							<li>Ut vitae sapien vel mi porta cursus et ut lorem.</li>
							<li>Quisque accumsan orci euismod leo fermentum vulputate.</li>
							<li>Praesent consectetur consectetur nisi, vel lacinia tellus sollicitudin sed.</li>
							<li>Nullam porta luctus odio, id ornare lorem ultricies vitae.</li>
						</ol>
					</div> <!-- .portlet-tab-content -->
					
					<div id="tab2" class="portlet-tab-content">
						<h2>Tab #2</h2>
						
						<p>Vivamus ac tortor dolor. Donec commodo, dui id ultrices blandit, neque nulla malesuada nulla, eget luctus purus lorem feugiat eros. Aenean in felis non lectus pellentesque venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum at velit nisl, at congue ipsum. Phasellus venenatis vestibulum est in pellentesque. Nunc a magna quis arcu luctus euismod. Nullam luctus fringilla nunc sit amet placerat. Cras vitae magna eget nisi porta mattis. Donec ac pharetra odio. In nec lacus ligula. Aliquam erat volutpat. Donec eu lorem eu risus adipiscing semper. Sed in est sapien. Cras faucibus neque vel augue interdum eget ullamcorper purus scelerisque. Maecenas sapien lacus, elementum ac porttitor in, sagittis ut lectus. </p>
					</div> <!-- .portlet-tab-content -->
					
					<div id="tab3" class="portlet-tab-content">
						<h2>Tab #3</h2>
						
						<p>Sed non nulla elit, eu congue dolor. Phasellus euismod tincidunt enim, vitae iaculis magna commodo sit amet. Fusce ut rutrum turpis. Etiam tristique arcu turpis. Nulla dolor nulla, pretium vitae tempus quis, ultricies non tortor. Donec ullamcorper, massa id dapibus aliquet, odio neque egestas tellus, sed lobortis nulla sapien in magna. Morbi elementum eros a diam malesuada id adipiscing nisl fringilla. Vestibulum commodo tellus id felis mattis tempor. In ultricies rhoncus tristique. In ut ante eget ligula vehicula vulputate. </p>
					</div> <!-- .portlet-tab-content -->
					
				</div> <!-- .portlet-content -->	
			</div> <!-- .portlet -->
			
	
			<div class="portlet portlet-closable">	
				
				<div class="portlet-header">
					<h4>Table</h4> 
					
				</div> <!-- .portlet-header -->		
				
				<div class="portlet-content">	
					
					<!-- Start Table -->
					<table id="dataTable" cellpadding="0" cellspacing="0">				
						<thead>
							<tr>
								<th width="20%">Column 1</th>
								
								<th width="40%">Column 2</th>
								<th width="20%">Column 3</th>
								<th width="20%">Column 4</th>							
								<th></th>
							</tr>
						</thead>					
						
						<tbody>
							<tr>
								<td class="alt">John Doe</td>
								<td class="alt"><a href="javascript:;">Sed non nulla elit</a></td>							
								<td class="alt">Billing</td>
								<td class="alt">2001</td>
							</tr>					
					
							<tr>
								<td>Mike Jones</td>
								<td><a href="javascript:;">Phasellus euismod tincidunt enim</a></td>
								<td>Enginerring</td>							
								<td>1998</td>
							</tr>
					
							<tr>
								<td>Carl Adams</td>
								<td><a href="javascript:;">Ultrices posuere cubilia Curae</a></td>
								<td>Management</td>
								<td>2001</td>
							</tr>
					
							<tr>
								<td>Brian Jones</td>
								<td><a href="javascript:;">In ut ante eget ligula vehicula</a></td>
								<td>Management</td>
								
								<td>1997</td>
							</tr>
									
							<tr>
								<td>Mary Jones</td>
								<td><a href="javascript:;">Morbi elementum eros a diam malesuada</a></td>
								<td>Sales</td>
								
								<td>2003</td>
							</tr>
					
							<tr>
								<td>Sarah Howard</td>
								<td><a href="javascript:;">Lorem ipsum donec interdum</a></td>
								<td>Accounting</td>
								
								<td>2005</td>
							</tr>
						</tbody>
					
					</table>
					<!-- End Table -->						
					
					<div id="pg">
						<span class="disabled">&laquo; Previous</span>
						&nbsp;&nbsp;<a  class="current"  href="javascript:;">1</a>
						&nbsp;&nbsp;<a  href="javascript:;">2</a>
						&nbsp;&nbsp;<a  href="javascript:;">3</a>					
						&nbsp;&nbsp;<a  href="javascript:;">4</a>
						&nbsp;&nbsp;<a  href="javascript:;">5</a>
						&nbsp;&nbsp;<a  href="javascript:;">6</a>
						&nbsp;&nbsp;<a  href="javascript:;">7</a>
						&nbsp;&nbsp;<a  href="javascript:;">8</a>
						&nbsp;&nbsp;<a  href="javascript:;">9</a>
						&nbsp;&nbsp;<a  href="javascript:;">10</a>
						&nbsp;&nbsp;<a href="javascript:;">Next &raquo;</a>
					</div> <!-- #pg -->					
				
				</div> <!-- .portlet-content -->	
				
			</div> <!-- .portlet -->	
			
				

			<div class="portlet portlet-closable">					
				
				<div class="portlet-header">
					<h4>Form</h4>
					
					<ul class="portlet-tab-nav">
						<li class="portlet-tab-nav-active"><a href="#inline-form">Inline Labels</a></li>
						<li><a href="#ontop-form">Top Labels</a></li>
					</ul>
					
					
				</div> <!-- .portlet-header -->	
					
				<div class="portlet-content">				
				
					<div id="inline-form" class="portlet-tab-content">
						
						<form action="#" method="post" class="form label-inline">
	
							<div class="field"><label for="fname">First Name </label> <input id="fname" name="fname" size="50" type="text" class="medium" /></div>
				
							<div class="field"><label for="lname">Last Name </label> <input id="lname" name="lname" size="50" type="text" class="medium" /></div>
							
							<div class="field"><label for="address1">Address 1 </label> <input id="address1" size="50" type="text" class="large" /></div>
							<div class="field"><label for="address2">Address 2</label> <input id="address2" size="50" type="text" class="large" /></div>
							<div class="field"><label for="country" class="">Country </label> <input id="country" name="country" size="12" type="text" class="medium" />
				
								<p class="field_help">Errors could be highlighted by giving an <code>error</code> class to the input field, as seen here.</p>
							</div>
							<div class="field"><label for="telephone">Telephone</label> <input id="telephone" size="3" type="text" class="xsmall" /> - <input size="3" type="text" class="xsmall" /> - <input size="4" type="text" class="xsmall" />
								<p class="field_help">(###) - ### - ####</p>
				
							</div>
							
							<div class="field">
								<label for="type">Type </label>
								<select id="type" class="medium">
									<optgroup label="Type of Whatever">
										<option selected="selected">Corporate</option>
										<option>Individual</option>
				
									</optgroup>
								</select>
							</div>
							
							<div class="controlset field">
								<span class="label">User Status </span>
								<input name="approved" id="approved" value="1" type="checkbox" /> <label for="approved">Approved</label>
								<input name="pending" id="pending" value="1" type="checkbox" /> <label for="pending">Pending Applications</label>
				
								<input name="actives" id="actives" value="1" type="checkbox" /> <label for="actives">Active Service</label>
							</div>			
				
							<div class="controlset field">
								<span class="label">Preferred Location</span>
								<input name="radio1" id="radio1" value="1" type="radio" /> <label for="radio1">Option 1</label>
								<input name="radio1" id="radio2" value="1" type="radio" /> <label for="radio2">Option 2</label>
				
								<input name="radio1" id="radio3" value="1" type="radio" /> <label for="radio3">Option 3</label>
							</div>			
				
							<div class="controlset field">
								<span class="label">Something Else </span>
								<div>
									<input name="approved" id="check1" value="1" type="checkbox" />  <label for="check1">Some Option 1</label><br />
				
									<input name="pending" id="check2" value="1" type="checkbox" />  <label for="check2">Some Option 2</label><br />
									<input name="actives" id="check3" value="1" type="checkbox" /> <label for="check3">Some Option 3</label><br />
								</div>
							</div>	
					
							<div class="buttonrow">
								<button><span>Primary Action</span></button>
								<button class="btn-sec"><span>Secondary Action</span></button>
							</div>

						</form>

					</div> <!-- #horizontal-form -->
					
					<div id="ontop-form" class="portlet-tab-content hide">
						
						<form action="#" method="post" class="form label-top">
	
							<div class="field"><label for="fname2">First Name </label> <input id="fname2" name="fname2" size="50" type="text" class="medium"  /></div>
				
							<div class="field"><label for="lname2">Last Name </label> <input id="lname2" name="lname2" size="50" type="text" class="medium"  /></div>
							
							<div class="field"><label for="address12">Address 1 </label> <input id="address12" size="50" type="text" class="large"  /></div>
							<div class="field"><label for="address22">Address 2</label> <input id="address22" size="50" type="text" class="large" /></div>
							<div class="field"><label for="country2" class="">Country </label> <input id="country2" name="country2" size="12" type="text" class="medium" />
				
								<p class="field_help">Errors could be highlighted by giving an <code>error</code> class to the input field, as seen here.</p>
							</div>
							<div class="field"><label for="telephone2">Telephone</label> <input id="telephone2" size="3" type="text" class="xsmall" /> - <input size="3" type="text" class="xsmall" /> - <input size="4" type="text" class="xsmall" />
								<p class="field_help">(###) - ### - ####</p>
				
							</div>
			
							<div class="field">
								<label for="type2">Type </label>
								<select id="type2" class="medium">
									<optgroup label="Type of Whatever">
										<option selected="selected">Corporate</option>
										<option>Individual</option>
				
									</optgroup>
								</select>
							</div>
							<div class="controlset field">
								<span class="label">User Status </span>
								<input name="approved2" id="approved2" value="1" type="checkbox" /> <label for="approved2">Approved</label>
								<input name="pending2" id="pending2" value="1" type="checkbox" /> <label for="pending2">Pending Applications</label>
				
								<input name="actives2" id="actives2" value="1" type="checkbox" /> <label for="actives2">Active Service</label>
							</div>			
				
							<div class="controlset field">
								<span class="label">Preferred Location</span>
								<input name="radio12" id="radio12" value="1" type="radio" /> <label for="radio12">Option 1</label>
								<input name="radio12" id="radio22" value="1" type="radio" /> <label for="radio22">Option 2</label>
				
								<input name="radio12" id="radio32" value="1" type="radio" /> <label for="radio32">Option 3</label>
							</div>			
				
							<div class="controlset field">
								<span class="label">Something Else </span>
								<div>
									<input name="approved2" id="check12" value="1" type="checkbox" />  <label for="check12">Some Option 1</label><br />
				
									<input name="pending2" id="check22" value="1" type="checkbox" />  <label for="check22">Some Option 2</label><br />
									<input name="actives2" id="check32" value="1" type="checkbox" /> <label for="check32">Some Option 3</label><br />
								</div>
							</div>	

							<div class="buttonrow">
								
								<button><span>Primary Action</span></button>
								<button class="btn-sec"><span>Secondary Action</span></button>				
							</div>

						</form>
						
					</div> <!-- #inline-form -->
						
				</div> <!-- .portlet-content -->	
				
			</div> <!-- .portlet -->				
			
			
		</div> <!-- #main -->		
		
		<!-- Start #sidebar -->
		<div id="sidebar">
			
			<div class="portlet portlet-closable">	
				
				<div class="portlet-header">
					<h4>Quick Info (83)</h4> 
					
				</div> <!-- .portlet-header -->		
				
				<div class="portlet-content">		
					<p>Activity that has taken place since the last time you logged in. Vivamus pulvinar tempus orci. </p>
					
					<ul id="quick-info">
						<li class="qi-orders"><a href="javascript:;">23 new orders</a></li>
						<li class="qi-comments"><a href="javascript:;">7 new comments</a></li>
						<li class="qi-questions"><a href="javascript:;">9 new questions</a></li>
						<li class="qi-articles"><a href="javascript:;">3 new articles</a></li>
						<li class="qi-messages"><a href="javascript:;">5 new messages</a></li>
						<li class="qi-subscribers"><a href="javascript:;">36 new subscribers</a></li>
					</ul>
						
					<div class="clear"></div>
				</div> <!-- .portlet-content -->	
			</div> <!-- .portlet -->
			
			
			<div class="portlet portlet-closable">	
				
				<div class="portlet-header">
					<h4>Lightbox Images (6)</h4> 
					
				</div> <!-- .portlet-header -->		
				
				<div class="portlet-content" style="text-align: center">		
					
					<div id="gallery">	
						<a href="./images/lightbox/image1.jpg"><img src="./images/lightbox/thumb_image1.jpg" alt="Lightbox Image" /></a>
						<a href="./images/lightbox/image2.jpg"><img src="./images/lightbox/thumb_image2.jpg" alt="Lightbox Image"  /></a>
						<a href="./images/lightbox/image3.jpg"><img src="./images/lightbox/thumb_image3.jpg" alt="Lightbox Image"  /></a>
						<a href="./images/lightbox/image4.jpg"><img src="./images/lightbox/thumb_image4.jpg" alt="Lightbox Image"  /></a>
						<a href="./images/lightbox/image1.jpg"><img src="./images/lightbox/thumb_image1.jpg" alt="Lightbox Image"  /></a>
						<a href="./images/lightbox/image5.jpg"><img src="./images/lightbox/thumb_image5.jpg" alt="Lightbox Image"  /></a>
					</div> <!-- #gallery -->
					<div class="clear"></div>
				</div> <!-- .portlet-content -->	
			</div> <!-- .portlet -->
			
			
			
	
			<div class="portlet portlet-closable">	
				<div class="portlet-header">
					<h4>Notifications (4)</h4>
						
				</div> <!-- .portlet-header -->	
					
				<div class="portlet-content">		
					<p class="message message-info ">Informative Message</p>
					<p class="message message-warning message-closable">Warning Message</p>
					<p class="message message-success message-closable">Success Message</p>
					<p class="message message-error message-closable">Error Message</p>
				</div> <!-- .portlet-content -->	
			</div> <!-- .portlet -->
							
			
			
		</div> <!-- #sidebar -->


<ul id="theme-options">
	<li class="label">Theme Layout:</li>
	<li class="layout-option"><a href="javascript:;" class="layout" rel="layout-fixed">Fixed Width</a></li>
	<li class="layout-option"><a href="javascript:;" class="layout" rel="layout-fluid">Fluid Width</a></li>
	
	<li class="divider">&nbsp;</li>
	
	<li class="label">Theme Color:</li>

	<li class="swatch swatch-red"><a href="javascript:;" class="styleswitch" rel="red">Red</a></li>
	<li class="swatch swatch-orange"><a href="javascript:;" class="styleswitch" rel="orange">Orange</a></li>
	<li class="swatch swatch-blue"><a href="javascript:;" class="styleswitch" rel="blue">Blue</a></li>
	<li class="swatch swatch-green"><a href="javascript:;" class="styleswitch" rel="green">Green</a></li>
	<li class="swatch swatch-purple"><a href="javascript:;" class="styleswitch" rel="purple">Purple</a></li>
	<li class="swatch swatch-black"><a href="javascript:;" class="styleswitch" rel="black">Black</a></li>
	
</ul>
			
	</div> <!-- #body -->
	
	<!-- Start #footer -->
	<div id="footer">
		
		<p>Copyright &copy; 2010, Rod Creative, all rights reserved.</p>
		
	</div>
	





</div> <!-- #page -->

<script  type="text/javascript" src="js/jquery/jquery.1.4.2.min.js"></script>
<script  type="text/javascript" src="js/jquery/jquery.flot.min.js"></script>
<script  type="text/javascript" src="js/jquery/jquery.cookie.js"></script>
<script  type="text/javascript" src="js/jquery/jquery.hoverIntent.min.js"></script>
<script  type="text/javascript" src="js/jquery/jquery.tablesorter.min.js"></script>
<script  type="text/javascript" src="js/jquery/jquery.lightbox-0.5.min.js"></script>

<script  type="text/javascript" src="js/azure/azure.js"></script>
<script  type="text/javascript" src="js/azure/azure.chart.js"></script>
<script  type="text/javascript" src="js/azure/azure.nav.js"></script>
<script  type="text/javascript" src="js/azure/azure.message.js"></script>
<script  type="text/javascript" src="js/azure/azure.portlet.js"></script>
<script  type="text/javascript" src="js/azure/azure.styleswitch.js"></script>

<!--[if IE]><script  type="text/javascript" src="js/misc/excanvas.min.js"></script><![endif]-->

<script type="text/javascript" charset="utf-8">
$(function () 
{
	azure.layoutInit ();
	azure.nav.init ();
	azure.portlet.init ();
	azure.message.init ();
	azure.styleSwitcher ();
	azure.layoutSwitcher ();
	azure.chart.draw ();
	
	$('#dataTable').tablesorter ({ headers: { 4: {sorter: false} } });
	$('#gallery a').lightBox ();
});
</script>

</body>

</html>