<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Azure Admin Login</title>
	
	<link rel="stylesheet" href="./css/custom.css" type="text/css" media="screen" title="default" charset="utf-8" />
	
	<link rel="stylesheet" href="./themes/blue/css/custom.css" type="text/css" media="screen" title="blue" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/red/css/custom.css" type="text/css" media="screen" title="red" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/orange/css/custom.css" type="text/css" media="screen" title="orange" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/green/css/custom.css" type="text/css" media="screen" title="green" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/black/css/custom.css" type="text/css" media="screen" title="black" charset="utf-8" class="styleswitch" />
	<link rel="alternate stylesheet" href="./themes/purple/css/custom.css" type="text/css" media="screen" title="purple" charset="utf-8" class="styleswitch" />
	
	<!--[if IE 8]>	
	<link rel="stylesheet" href="./css/ie8.css" type="text/css" media="screen" title="ie8" charset="utf-8" />
	<![endif]-->

</head>

<body id="login">


<div id="login-container" class="clearfix"> 
	
	<div class="portlet-header">
		<h4>Azure Admin Login</h4>
	</div>  
	         
	<form action="index2.html" name="login" id="login_form" method="post">
		
		
		
	    <input name="action" value="login" type="hidden">
	                    <div class="content_front">
	        <div class="pad">
	        	
	        	<div class="field">
					<label>Username:</label>
					
					<div class=""><span class="input"><input name="email" id="login_email" class="text" type="text" value="admin"></span></div>
				</div> <!-- .field -->
				
				<div class="field ">
					<label>Password:</label>
					
					<div class=""><span class="input"><input name="password" id="login_password" class="text" type="password" value="password"> 
						<a style="" href="javascript:;" id="forgot_my_password">Forgot password?</a></span></div>
				</div> <!-- .field -->
				
				<div class="checkbox">
					<span class="label">&nbsp;</span>
					
					<div class=""><input name="remember" id="remember" class="checkbox" value="yes" type="checkbox"> &nbsp;&nbsp;<label style="display: inline;" for="remember">Remember me on this computer</label></div>
				</div> <!-- .field -->
				
				<div class="field">
					<span class="label">&nbsp;</span>
					
					<div class=""><button><span>Signin</span></button></div>
				</div> <!-- .field -->
		

	        </div>
	    </div>

		
	</form>
</div>





</body>

</html>