<div class="portlet">          
  
  <div class="portlet-header">
    <h4>Query</h4>
  </div> <!-- .portlet-header -->  
    
  <div class="portlet-content">        
    <div id="ontop-form" class="portlet-tab-content">
      <% form_for [@user, @query], :html => {:class => 'form label-top'} do |f| %>
        <%= f.error_messages %>
        <div class="field">
          <%= f.label :query %>
          <%= f.text_field :query, :class => 'medium' %>
        </div>
        <!-- <div class="field">
          <label for="type">Type </label>
          <select id="type" class="medium">
            <optgroup label="Type of Whatever">
              <option selected="selected">Corporate</option>
              <option>Individual</option>
            </optgroup>
          </select>
        </div> -->
        
        <div class="field">
          <span class="label">&nbsp;</span>
          <div><button><span><%= f.submit 'New Query' %></span></button></div>
        </div> <!-- .field -->

      <% end %>
    </div> <!-- #ontop-form -->
  </div> <!-- .portlet-content -->  
</div> <!-- .portlet -->

