
<% form_for [@user, @query], :html => {:class => 'form label-top'} do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :query %>
    <%= f.text_field :query, :class => 'medium' %>
  </div>
  <!-- <div class="field">
    <label for="type">Type </label>
    <select id="type" class="medium">
      <optgroup label="Type of Whatever">
        <option selected="selected">Corporate</option>
        <option>Individual</option>
      </optgroup>
    </select>
  </div> -->
  
  <div class="field">
    <span class="label">&nbsp;</span>
    <div><button><span><%= f.submit 'Send' %></span></button></div>
  </div> <!-- .field -->

<% end %>

