<div class="portlet">  
  <div class="portlet-header">
    <h4>Chart</h4>  
  </div> <!-- .portlet-header -->  
  
  <div class="portlet-content">        
    <div id="placeholder" style="width:100%; height:300px;"></div>
  </div> <!-- .portlet-content -->  
</div> <!-- .portlet -->