<% title "Queries" %>

<p>
  <strong>Query:</strong>
  <%=h @query.query %>
</p>


<p>
  <%= link_to "Edit", edit_user_query_path( @user, @query ) %> |
  <%= link_to "Destroy", [@user, @query], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_queries_path( @user ) %>
</p>
