<% title "Queries" %>

<div class="portlet">  
  <div class="portlet-header">
    <h4>Query</h4> 
  </div> <!-- .portlet-header -->    
  
  <div class="portlet-content">
    <p>
      <strong>Query:</strong>
      <%=h @query.query %>
    </p>
  </div>
</div>

<p>
  <%= link_to "Edit", edit_user_query_path( @user, @query ) %> |
  <%= link_to "Destroy", [@user, @query], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_queries_path( @user ) %>
</p>
